<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>@ViewData["Title"] - DeltaX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" href="~/images/deltax-logo.ico" />

    <environment include="Development">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="shortcut icon" href="~/images/deltax-02.ico" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:200,400,500,600,700" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="~/node_modules/sweetalert2/dist/sweetalert2.min.css">
    <link href="~/css/bundle-styles.css" rel="stylesheet">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand"  asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="height:8vh;" src="~/images/deltax.png"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item" style="margin-left:15px;">
                            <a class="nav-link text-black-50" href="https://wa.me/59175637458">
                                <img style="height:5vh;" src="~/images/whatsapp (2).png" alt="" />
                                Whatsapp
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:15px;">
                            <a class="nav-link text-black-50" href="https://www.linkedin.com/company/40775825/admin/">
                                <img style="height:5vh;" src="~/images/linkedin (3).png" alt="" />
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @*<div class="desktop">
            <div>
                <a href="/">
                    <img class="logo" src="~/images/deltax.png" alt="">
                </a>
            </div>
            <div class="submenu">
                <a class="logo" href="https://wa.me/59175637458">
                    <img class="logo" src="~/images/whatsapp (2).png" alt="" />
                </a>
                <a class="logo" href="https://www.linkedin.com/company/40775825/admin/">
                    <img class="logo" src="~/images/linkedin (3).png" alt="" />
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <a href="@Url.Action("Index","Home")">
                <img class="logo" src="~/images/deltax.png" alt="">
            </a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>*@



        @*@<div class="mobile">
            <a href="@Url.Action("Index","Home")">
                <img class="logo" src="~/images/deltax.png" alt="">
            </a>
            <button class="hamburger hamburger--slider " type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <div class="menu">
                <div class="items">
                    <a href="/">
                        <img class="logo" src="~/images/deltax.png" alt="" />
                    </a>

                    <a href="https://wa.me/59175637458" style="padding:10px;">
                        <img class="logoMovil" src="~/images/whatsapp (2).png" />
                        Whatsapp
                    </a>
                    <a href="https://www.linkedin.com/company/40775825/admin/" style="padding:10px;">
                        <img class="logoMovil" src="~/images/linkedin (3).png" />
                        Linkedin
                    </a>
                </div>
            </div>
        </div>*@
    </header>
    @RenderBody()
    @*<footer>
            <div>
                Copyright © 2018 Avancargo
            </div>
        </footer>*@
    <footer class="footer text-muted">
        <div class="container" style="text-align:center;">
            &copy; Copyright Delta Express - <a style="color:white; text-decoration:none;" asp-area="" asp-controller="Home" asp-action="Index">2019</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="~/js/contact.js"></script>
    @*<script type="text/javascript">
        var $zoho = $zoho || {};
        $zoho.salesiq = $zoho.salesiq || {
            widgetcode: "0ff6495259b16bd00d5b40704bab718701580d8bc90bcb9bd4fad61e004f1bbd",
            values: {},
            ready: function () { }
        };
        var d = document;
        s = d.createElement("script");
        s.type = "text/javascript";
        s.id = "zsiqscript";
        s.defer = true;
        s.src = "https://salesiq.zoho.com/widget";
        t = d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(s, t);
        d.write("<div id='zsiqwidget'></div>");
    </script>*@
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 675174,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script type="text/javascript" src="~/js/bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
